body {
  background-color: #2b2a33;
  font-weight: bold;
  max-height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
}

a, p {
  color: white;
  font-size: 16px;
  margin: 5px 0;
  cursor: default;
}

a {
  border: 1px solid #281515;
  cursor: pointer;
  font-weight: normal;
  padding: 5px 8px;

  &.active {
    background-color: rgba(255, 65, 65, 0.74);
    cursor: default;
  }

  &.disabled {
    background-color: grey;
    cursor: not-allowed;
  }

  &#error {
    border: none;
    display: block;
    font-weight: lighter;
    font-size: 0.8rem;
    text-align: center;
    padding: 10px 0 5px 0;
  }

}

hr {
  margin: 3px 0;
}

#all {
  display: flex;
  justify-content: center;
  margin: 10px 0
}

.low-reliability {
  text-decoration: underline;
  text-decoration-color: rgb(255, 0, 0);
}

.normal-reliability {
  text-decoration: underline;
  text-decoration-color: yellow;
}

.high-reliability {
  text-decoration: underline;
  text-decoration-color: #00ff00;
}
