@import 'tailwindcss';

@theme {
	--color-linux-mint-green: #35a854;

	--default-font-family: Arial, Helvetica, sans-serif;
}

@layer base {
	body {
		background-color: #030712;
		color: var(--color-gray-300);

		margin: 0;
		padding: 0;
	}

	a {
		text-decoration: none;
	}
}
