name: ci

on:
  push:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install nodejs
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Lint
        run: npm run lint

  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - manifest_version: 2
          - manifest_version: 3
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install nodejs
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build
        env:
          MANIFEST_VERSION: ${{ matrix.manifest_version }}
        run: npm run build

      - name: Upload
        uses: actions/upload-artifact@v3
        with:
          name: stream-bypass-mv${{ matrix.manifest_version }}
          path: ./dist
          if-no-files-found: error
