name: lint

on:
    push:
    pull_request:

jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v5

            - uses: actions/setup-node@v6
              with:
                node-version: 22
                cache: 'npm'

            - name: Install dependencies
              run: npm ci

            - name: Lint
              run: npm run lint
